<ul class="specialty-list">
  <li class="specialty-list-item" 
      ng-class="spec.budget ? 'budget' : 'pay'" 
      ng-repeat="spec in selectedSpec">

    <div class="specialty-name-block">
      <span class="specialty-name">{{ spec.specialty }}</span>
      <div>
        <abbr class="filter-name exams" ng-attr-title="{{ examAbbr(spec) }}">Экзамены</abbr>
      </div>
    </div>
    
    <div class="btn-block btn-block__center">
      <button class="btn secondary-btn" ng-click="removeItemToList(spec, spec.id)">Удалить</button>
    </div>
    
  </li>
</ul>

<%# <ul class="subject-list">
  <li ng-repeat="object in availableSpecSubjects" ng-if="spec.id === object.specialty_id">
    {{ object.object }}: {{ object.points }}
  </li>
</ul> %>